# Compiled
*.elc

# Packaging
.cask
/auto-save-list/
/eshell/history
/eshell/lastdir
/server/
/tramp
/url/
/elpa/
/init.org_archive
init.el
/org-clock-save.el
/lisp/plantuml.jar

# Emacs backup and temp files
*~
[#]*[#]
.\#*
/bookmarks
/.org-id-locations
init.html
recentf
/chinese-fonts-setup/
recentf
init.el
