# Compiled
*.elc

# Packaging
.cask
/auto-save-list/
/eshell/alias~
/eshell/history
/eshell/lastdir
/server/
/tramp
/url/
/elpa/
/#init.el#
/init.html~
/#init.org_archive#
/.#init.org_archive
/init.org_archive
init.el
